body {
  display: flex;
  justify-content: center;
}

.mobile-first {
  width: 375px;
  background-color: #f7f7f7;
}

.home {
  display: flex;
  flex-direction: column;
  background-image: url("assets/images/header-background-mobile.svg");  
  background-repeat: no-repeat;
  background-position: bottom;

}

.toolbar {
  height: 48px;
  margin: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar h1 {
  display: inline;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  font-size: 18px;
  color: #6070ff;
}

.toolbar img {
  width: 18px;
  height: 12px;
}

.headline {
  height: 604px;
  margin-top: 18px;
  background-image: url('assets/images/header-shapes-mobile.svg');
  background-repeat: no-repeat;
}

.headline h2 {
  height: 150px;
  margin: 0.83em 24px 12px;
  padding-top: 66px;
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  line-height: 52px;
  color: #172b4d;
}

.headline p {
  color: #172b4d;
  margin: 0 24px 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.headline .connect {
  height: fit-content;
  margin-top: 16px;
  line-height: 24px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #7f8cff;
}

.headline .social {
  margin: 12px 24px;
}

.work {
  padding: 114px 24px;
  gap: 88px;
  display: flex;
  flex-direction: column;
}

.work .card {
  padding: 16px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card h3 {
  margin: 0;
  padding: 0;
  line-height: 44px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: bolder;
  color: #172b4d;
}

.card .canopy {
  height: 36px;
  margin-top: -12px;
  align-self: flex-start;
}

.card .para {
  margin: 0;
  line-height: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.card .tags {
  height: 24px;
  align-self: flex-start;
}

.card .see {
  width: 126px;
  height: 48px;
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6070ff;
  align-self: flex-start;
  border-radius: 8px;
}

.see p {
  line-height: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #396DF2;
}